body
{
    color: rgb(53, 39, 46);
    text-align: left;
    font-family: 'Courier New';
    font-size: 16px;
}
#container 
{
    width: 80%;
    padding: 1em;
    text-align: left;
    border: solid;
    margin: 0 auto;


}
#container h1
{
    font-size: 30px;

}
#cabecera {
    background: #4444cc;
    color: white;
    text-align: center;
    font: italic;
    font-family: arial;
    font-weight: bold;
    -webkit-box-shadow: -9px 16px 43px -5px rgba(105,105,105,1);
    -moz-box-shadow: -9px 16px 43px -5px rgb(206, 10, 10);
    box-shadow: -9px 16px 43px -5px rgba(105,105,105,1);

}
#post{

}